.header__lang {
    font-size: calc(18px + 6 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(20px - 8 * ((100vw - 320px) / (1280 - 320)));
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}