.place__paragraph_margin {
    max-width: 484px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    align-items: start;
}

.place__paragraph_margin:first-child {
    margin: 0 0 25px;
}

.place__paragraph_margin:last-child {
    margin: 0 0 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph_margin {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph_margin:first-child {
        margin: 0 auto 25px;
    }
    
    .place__paragraph_margin:last-child {
        margin: 0 auto;
    }
}