.lead {
    display: grid;
    max-width: 984px;
    margin: 56px auto 0;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    justify-items: center;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        justify-items: start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}