.place__website_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    text-align: left;
    align-self: end;
    color: white;
}

.place__website_link:hover {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    text-align: left;
    align-self: end;
    color: white;
    opacity: 0.8;
}