.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: white;
    margin: 0;
    grid-column-start: 7;
    grid-column-end: 8;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        text-align: left;
        line-height: 14px;
        margin-top: 16px;
    }
  }