.cover__images {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
    height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover__images {
        max-height: 640px;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .cover__images {
        max-height: 480px;
    }
}

@media screen and (max-width: 768px) {
    .cover__images {
        max-height: 480px;
    }
}

@media screen and (max-width: 500px) {
    .cover__images {
        max-height: 300px;
    }
}

@media screen and (max-width: 475px) {
    .cover__images {
        max-height: 200px;
    }
}