.cover {
    display: flex;
    background-image: url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 99.9%;
}

.cover::after {
content: "";
width: 0;
height: 0;
margin-left: -1px;
padding-top: calc(740 / 1184 * 100%);
}