.footer__nav {
    font-weight: 400;
    font-size: calc(24px - 8 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(24px - 6 * ((100vw - 320px) / (1280 - 320)));
    display: flex;

}

.footer__nav:hover {
    font-weight: 400;
    font-size: calc(24px - 8 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(24px - 6 * ((100vw - 320px) / (1280 - 320)));
    opacity: 0.8;
    display: flex;

}

@media screen and (max-width: 711px) {
    .footer__nav {
        text-align: left;
        display: grid;
    }

  }