.cover__background {
    background-image: url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.8;
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0 92px;
    position: relative;
    z-index: 1;
}

.cover__background::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
}

.cover__background:hover::before {
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {
    .cover__background {
        height: 640px;
    }

    .cover__background:hover {
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        height: 480px;
        margin-top: 17px;
    }

    .cover__background:hover {
        height: 480px;
        margin-top: 17px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        height: 200px;
        margin: 16px auto 64px;
    }

    .cover__background:hover {
        height: 200px;
        margin: 16px auto 64px;
    }
}