.cover__title {
    max-width: 560px;
    font-weight: 900;
    line-height: calc(35px + 41 * ((100vw - 320px) / (1280 - 320)));
    text-align: center;
    margin: 0 0 32px;
    font-size: calc(32px + 40 * ((100vw - 320px) / (1280 - 320)));
}

@media screen and (max-width: 576px) {
    .cover__title {
        max-width: 288px;
        margin: 0 0 16px;
    }
}