.footer {
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px auto 186px;
  grid-template-rows: 18px;
  gap: 18px;
  max-width: 1184px;
  margin: 0 auto 24px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    max-width: 186px;
    margin: 0 16px 118px 24px;
    flex-direction: column;
    align-items: flex-start;    
  }
}