.footer {
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px auto 186px;
  grid-template-rows: 18px;
  gap: 18px;
  max-width: 1184px;
  margin: 92px auto 24px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: flex;
    max-width: 186px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
