.intro__title {
    max-width: 690px;
    font-weight: 900;
    font-size: calc(32px + 22 * ((100vw - 320px) / (1280 - 320)));
    line-height: calc(35px + 23 * ((100vw - 320px) / (1280 - 320)));
    margin: 0 0 40px 0;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 288px;
    }
}